/* Background image and color. */
body {
    background: #000000 url("img/bg.png");
}

/* Background color of the left panel. */
header {
    background: #505050;
}

/* Color/background color of the titles "SERVER NAME" and "RULES" */
h1, #player {
    color: white;
    background-color: #A31515;
}

/* Background color of the progress bar. */
#loadBar {
    background-color: #050505;
}

/* Color of the filled part of the progress bar. */
#loadBar-width {
    background-color: #A31515;
}

#leftPanel {
    border-radius: 15px;
    opacity: 90%;
}

#servName {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#rightPanel {
    opacity: 90%;
}

#rules {
    border-radius: 15px;
    background: linear-gradient(112.1deg, rgb(51, 55, 62) 11.4%, rgb(63, 66, 78) 70.2%);
    box-shadow: 4px 4px 15px #121212;
}

#rules h1 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 70px;
}

#rules p {
    color: white;
}
